<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588352916906-2v9me26b77grm6koubkq3cfhl18refj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588352916906-2v9me26b77grm6koubkq3cfhl18refj4</string>
	<key>API_KEY</key>
	<string>AIzaSyAr3DKMdrl4fFfh1bxJ9LirC51kx6JgKN0</string>
	<key>GCM_SENDER_ID</key>
	<string>588352916906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nathan.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-4e867</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-4e867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588352916906:ios:fcc6053ab35298d371afd3</string>
</dict>
</plist>